/* Grephic design is my passion */
strong {
	color: red
}

div {
	margin: 10px;
	background-color: silver;

	border-width: 1px;
	border-style: solid;
	border-color: black:
}

nav {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: 1px;
	margin-left: 1em;
	padding-top: 10px;
	padding-bottom: 2em;
	padding-left: 2px;
	padding-right: 2px;
	background-color: rgb(0, 255, 0);
	border: 10px solid black;
	border-radius: 1em;
	display: inline-block;
}
h1 {
	margin: 5px;
	text-decoration: underline;
	color: #FFF000;
}
h2 {
	margin: auto;
	text-decoration: underline;
	color: hsl(60, 100%, 50%);
}

h3 {
	text-decoration: underline;
}

#meet_video {
	text-align: center;
}
#invis {
	display: none;
}
fieldset {
	height: 10%;
	width: 50%;
	max-width: 500px;
	min-width: 50px;
	position: static;
}
video {
	position: relative;
	left: 23%;
}
a:hover {
	color: yellow;
}
button:active {
	box-shadow: 1px 1px 3px #000000;
}
* {
	padding: 10px;
}
a[href="infowars.com"]:hover {
	color: red;
}
h1, h2, h3 {
	font-family: Helvetica, "Trebuchet MS";
}

div li {
	color: blue;
}

div > section {
	margin: 40px;
}
li ~ li {
	text-decoration: underline;
}

p + p {
	text-decoration: underline;
}

.comment, button:active {
	color: green;
}

.flexbox {
	display: flex;
	flex-direction: column;
}

#canvasSponsor {
	order: 1;
	flex-grow: 4;
}

#gitSponsor {
	order: 2;
	flex-grow: 4;
}

#slackSponsor {
	order: 3;
	flex-grow: 4;
}

#grid {
	display: grid;
	grid-template-columns: [line1] 10px [line2] 50px [line3] auto [line4] 50px [line5] 10px;
	grid-template-rows: [row1] 90px [row2] 90px [row3] 90px;
}
#w3schools {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
#firefox {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
#csstips {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

@media screen and (max-width: 480px) {
	* {
		padding: 0px;
	}

}
